# Inserting CSV data into a SQL database

This notebook runs through a simple example of using pandas to write csv data to a table in an exisiting SQL datatabase. We shall use 1033 rows of the titanic data to demonstrate the process.

We first have to use psychop2 to create a database. 

Note to eneter in your credentials for your postgres correctly . Often the user and the password for postgres are postgres and the port may be 5432

In [ ]:
# !pip install psycopg2

In [67]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='.......', host='localhost', port= '5432'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Preparing query to create a database
sql = '''CREATE database titanic''';

#Creating a database
cursor.execute(sql)
print("Database created successfully........")

#Closing the connection
conn.close()

Database created successfully........

In [2]:
import pandas as pd

Import the data file, in our case the titanic dataset using pandas read method. Note if your file is very large please use the logic later on in this notebook not to bring in the entire dataset but bring it in in chunks. Just to view a small section of the csv we can limit the amount of rows

In [6]:

# titanic_data = pd.read_csv('titanic_data.csv', nrows = 100)
titanic_data = pd.read_csv('titanic_data.csv')
titanic_data.head()

,Unnamed: 0,Passenger Class,Sex,Age,# Siblings / Spouse,# Parents / Children,Fare,Port Embarked,Survived
0,0,First,Female,29,0,0,211.34,Southampton,Survived
1,1,First,Male,1,1,2,151.55,Southampton,Survived
2,2,First,Female,2,1,2,151.55,Southampton,Did not survive
3,3,First,Male,30,1,2,151.55,Southampton,Did not survive
4,4,First,Female,25,1,2,151.55,Southampton,Did not survive

## Creating the connection
To connect to the database we will need to use a database management tool: *SQLAlchemy*

[The SQLAlchemy documentation can be found here](https://docs.sqlalchemy.org/)

In [8]:
import sqlalchemy as sa

### Local PostgreSQL server

PostgreSQL requires only a few pieces of information, most of which will have the same default values for a local installation.

In [12]:
# Generate the connection description
connection_uri = sa.engine.url.URL.create("postgresql", # The SQL version
                                          username="postgres", # This is the default value
                                          password="corndel", # Your password
                                          host="localhost", # Your server location. If it is on your computer it is "localhost"
                                          database="titanic", # This is the default value
                                         )
connection_uri

postgresql://postgres:***@localhost/titanic

In [13]:
engine = sa.create_engine(connection_uri, echo=True) # Set echo=False if you do not want the diagnostic information

In [14]:
# Connect to the database
conn = engine.connect()

2023-01-23 17:19:14,413 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-01-23 17:19:14,413 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-23 17:19:14,415 INFO sqlalchemy.engine.Engine select current_schema()
2023-01-23 17:19:14,416 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-01-23 17:19:14,417 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-01-23 17:19:14,418 INFO sqlalchemy.engine.Engine [raw sql] {}

To check we have connected to our empty database we can run a sql command to write a simple select statement

In [15]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

2023-01-23 17:20:04,207 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:20:04,207 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {'name': '\nSELECT 1 as number;\n'}
2023-01-23 17:20:04,213 INFO sqlalchemy.engine.Engine
SELECT 1 as number;

2023-01-23 17:20:04,213 INFO sqlalchemy.engine.Engine [raw sql] {}

   number
0       1

Above confirms we have selected the number 1 and that we have succesfully connected to this database. Pandas has a method that we can use to get a scheme from our current table and the printed output will appear as Data Definition Language DDL

In [17]:
print(pd.io.sql.get_schema(titanic_data, name = "titanic"))

CREATE TABLE "titanic" (
"Unnamed: 0" INTEGER,
  "Passenger Class" TEXT,
  "Sex" TEXT,
  "Age" INTEGER,
  "# Siblings / Spouse" INTEGER,
  "# Parents / Children" INTEGER,
  "Fare" REAL,
  "Port Embarked" TEXT,
  "Survived" TEXT
)

Below we are going to apply the headers of the titanic data in the csv to the titanic database. So far no records have been added.

In [18]:
titanic_data.head(0).to_sql(name='titanic_data', con=engine, index=False, if_exists= 'replace')

2023-01-23 17:22:30,975 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:22:30,976 INFO sqlalchemy.engine.Engine [cached since 146.8s ago] {'name': 'titanic_data'}
2023-01-23 17:22:30,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:22:30,981 INFO sqlalchemy.engine.Engine
CREATE TABLE titanic_data (
	"Unnamed: 0" BIGINT,
	"Passenger Class" TEXT,
	"Sex" TEXT,
	"Age" BIGINT,
	"# Siblings / Spouse" BIGINT,
	"# Parents / Children" BIGINT,
	"Fare" FLOAT(53),
	"Port Embarked" TEXT,
	"Survived" TEXT
)


2023-01-23 17:22:30,981 INFO sqlalchemy.engine.Engine [no key 0.00055s] {}
2023-01-23 17:22:31,011 INFO sqlalchemy.engine.Engine COMMIT

0

The database size at the moment should still be 0. Lets check this

In [19]:
query = """
SELECT COUNT(*) from titanic_data;
"""

pd.read_sql(query, con=engine)

2023-01-23 17:23:12,128 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:23:12,129 INFO sqlalchemy.engine.Engine [cached since 187.9s ago] {'name': '\nSELECT COUNT(*) from titanic_data;\n'}
2023-01-23 17:23:12,130 INFO sqlalchemy.engine.Engine
SELECT COUNT(*) from titanic_data;

2023-01-23 17:23:12,131 INFO sqlalchemy.engine.Engine [raw sql] {}

   count
0      0

In many situations where we have a large amount of csv data we may want to write our CSV data to SQL in chuks. To do this we will first make an interator object by adding the argument chunksize and iterator to the read csv method

In [20]:
df_iter = pd.read_csv('titanic_data.csv', chunksize = 100, iterator = True)

Alternative we can place data in, in one go. The code below does this however we are not going to run it because we want to see how the iterator would do this

In [21]:
# titanic_data.to_sql(name='titanic_data', con=engine, index=False, if_exists= 'append')

In [22]:
while True:
    df = next(df_iter)
    df.to_sql(name='titanic_data', con=engine, index=False, if_exists= 'append')
    print(' inserted new data of 100 rows...')

2023-01-23 17:26:58,257 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,258 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,262 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,263 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ({'UnnamedC 0': 0, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 29, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 211.34, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 1, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 1, '# Siblings / Spouse': 1, '# Parents / Children': 2, 'Fare': 151.55, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 2, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 2, '# Siblings / Spouse': 1, '# Parents / Children': 2, 'Fare': 151.55, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 3, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 30, '# Siblings / Spouse': 1, '# Parents / Children': 2, 'Fare': 151.55, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 4, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 25, '# Siblings / Spouse': 1, '# Parents / Children': 2, 'Fare': 151.55, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 5, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 48, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 26.55, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 6, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 63, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 77.96, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 7, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 53, '# Siblings / Spouse': 2, '# Parents / Children': 0, 'Fare': 51.48, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 98, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 23, '# Siblings / Spouse': 3, '# Parents / Children': 2, 'Fare': 263.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 99, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 19, '# Siblings / Spouse': 3, '# Parents / Children': 2, 'Fare': 263.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'})
2023-01-23 17:26:58,265 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,278 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,279 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,283 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,283 INFO sqlalchemy.engine.Engine [generated in 0.00153s] ({'UnnamedC 0': 100, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 64, '# Siblings / Spouse': 1, '# Parents / Children': 4, 'Fare': 263.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 101, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 60, '# Siblings / Spouse': 1, '# Parents / Children': 4, 'Fare': 263.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 102, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 30, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 56.93, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 103, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 50, '# Siblings / Spouse': 2, '# Parents / Children': 0, 'Fare': 133.65, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 104, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 43, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 27.72, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 105, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 22, '# Siblings / Spouse': 0, '# Parents / Children': 2, 'Fare': 49.5, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 106, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 60, '# Siblings / Spouse': 1, '# Parents / Children': 1, 'Fare': 79.2, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 107, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 48, '# Siblings / Spouse': 1, '# Parents / Children': 1, 'Fare': 79.2, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 198, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 52, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 30.5, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 199, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 47, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 52.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'})
2023-01-23 17:26:58,288 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,292 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,292 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,295 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,297 INFO sqlalchemy.engine.Engine [generated in 0.00166s] ({'UnnamedC 0': 200, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 56, '# Siblings / Spouse': 0, '# Parents / Children': 1, 'Fare': 83.16, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 201, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 22, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 135.63, 'Port Embarked': 'Cherbourg', 'Survived': 'Did not survive'}, {'UnnamedC 0': 202, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 43, '# Siblings / Spouse': 0, '# Parents / Children': 1, 'Fare': 211.34, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 203, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 31, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 50.5, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 204, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 45, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 26.55, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 205, 'Passenger Class': 'First', 'Sex': 'Female', 'Age': 33, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 27.72, 'Port Embarked': 'Cherbourg', 'Survived': 'Survived'}, {'UnnamedC 0': 206, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 46, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 79.2, 'Port Embarked': 'Cherbourg', 'Survived': 'Did not survive'}, {'UnnamedC 0': 207, 'Passenger Class': 'First', 'Sex': 'Male', 'Age': 36, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 40.12, 'Port Embarked': 'Cherbourg', 'Survived': 'Did not survive'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 298, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 23, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 299, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 26, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'})
2023-01-23 17:26:58,298 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,304 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,304 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,304 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,311 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,311 INFO sqlalchemy.engine.Engine [generated in 0.00138s] ({'UnnamedC 0': 300, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 42, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 301, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 27, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 302, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 24, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 303, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 15, '# Siblings / Spouse': 0, '# Parents / Children': 2, 'Fare': 39.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 304, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 60, '# Siblings / Spouse': 1, '# Parents / Children': 1, 'Fare': 39.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 305, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 40, '# Siblings / Spouse': 1, '# Parents / Children': 1, 'Fare': 39.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 306, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 20, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 307, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 25, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 398, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 54, '# Siblings / Spouse': 1, '# Parents / Children': 3, 'Fare': 23.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 399, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 50, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'})
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,314 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ({'UnnamedC 0': 400, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 44, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 401, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 29, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 402, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 21, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 73.5, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 403, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 42, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 404, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 63, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 405, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 60, '# Siblings / Spouse': 1, '# Parents / Children': 0, 'Fare': 26.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 406, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 33, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 12.28, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 407, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 17, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 10.5, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 498, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 18, '# Siblings / Spouse': 0, '# Parents / Children': 2, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 499, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 20, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 36.75, 'Port Embarked': 'Southampton', 'Survived': 'Survived'})
2023-01-23 17:26:58,328 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,328 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,328 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,337 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,337 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)
2023-01-23 17:26:58,338 INFO sqlalchemy.engine.Engine [generated in 0.00088s] ({'UnnamedC 0': 500, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 30, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 501, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 59, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.5, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 502, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 30, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 12.35, 'Port Embarked': 'Queenstown', 'Survived': 'Survived'}, {'UnnamedC 0': 503, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 35, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 10.5, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 504, 'Passenger Class': 'Second', 'Sex': 'Female', 'Age': 40, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 505, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 25, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 13.0, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}, {'UnnamedC 0': 506, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 41, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 15.05, 'Port Embarked': 'Cherbourg', 'Survived': 'Did not survive'}, {'UnnamedC 0': 507, 'Passenger Class': 'Second', 'Sex': 'Male', 'Age': 25, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 10.5, 'Port Embarked': 'Southampton', 'Survived': 'Did not survive'}  ... displaying 10 of 100 total bound parameter sets ...  {'UnnamedC 0': 598, 'Passenger Class': 'Third', 'Sex': 'Female', 'Age': 18, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 8.05, 'Port Embarked': 'Southampton', 'Survived': 'Survived'}, {'UnnamedC 0': 599, 'Passenger Class': 'Third', 'Sex': 'Male', 'Age': 40, '# Siblings / Spouse': 0, '# Parents / Children': 0, 'Fare': 7.22, 'Port Embarked': 'Cherbourg', 'Survived': 'Did not survive'})
2023-01-23 17:26:58,342 INFO sqlalchemy.engine.Engine COMMIT
 inserted new data of 100 rows...
2023-01-23 17:26:58,348 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:26:58,349 INFO sqlalchemy.engine.Engine [cached since 414.1s ago] {'name': 'titanic_data'}
2023-01-23 17:26:58,351 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-01-23 17:26:58,353 INFO sqlalchemy.engine.Engine INSERT INTO titanic_data ("Unnamed: 0", "Passenger Class", "Sex", "Age", "# Siblings / Spouse", "# Parents / Children", "Fare", "Port Embarked", "Survived") VALUES (%(UnnamedC 0)s, %(Passenger Class)s, %(Sex)s, %(Age)s, %(# Siblings / Spouse)s, %(# Parents / Children)s, %(Fare)s, %(Port Embarked)s, %(Survived)s)

StopIteration:

Below we see that we have succesfully placed all the titanic data records into a databse called titanic

In [23]:
query = """
SELECT COUNT(*) from titanic_data;
"""
pd.read_sql(query, con=engine)

2023-01-23 17:27:05,622 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-01-23 17:27:05,623 INFO sqlalchemy.engine.Engine [cached since 421.4s ago] {'name': '\nSELECT COUNT(*) from titanic_data;\n'}
2023-01-23 17:27:05,624 INFO sqlalchemy.engine.Engine
SELECT COUNT(*) from titanic_data;

2023-01-23 17:27:05,625 INFO sqlalchemy.engine.Engine [raw sql] {}

   count
0   1033